.fa {
padding: 15px;
border: none;
font-size: 27px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
transition: 0.2s;
color: white;
}

.fa:hover {
    color: #66DA43;
}

.fa:active {
    color: white;
}

.socialbar {
    background-color: #191919;
    border-radius: 3em;
    width: 90%;
    transition: 0.2s;
    box-shadow: 5px 7px 15px rgb(0, 0, 0),
                   -5px -7px 15px rgb(58, 58, 58);
}

